* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

$current-customer-highlight: #45aaf2;
$current-day-highlight: #38ada9;
$selected-day-highlight: #78e08f;
$customer-list-highlight: #82ccdd;
$newly-booked-highlight: #f8c291;
$main-tab-span-highlight: #1dd1a1;
$red-alert-error: #ee5253;
$newly-booked-highlight2: #ff9f43;

#ui-datepicker-div {
  background: $selected-day-highlight;
  border-radius: 5px;
  margin-left: -10px;
}

.tabs {
  padding-right: 40px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs-navigation li {
  list-style-type: none;
  width: 100%;
}

header {
  text-align: center;
}

a,
a:visited {
  border: 1px solid #45aaf2;
  border-radius: 5px;
  color: inherit;
  display: block;
  margin-top: 25px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

a:hover {
  background: #d1d8e0;
  color: #45aaf2;
}

.tab-active a {
  background: #4b6584;
  color: #d1d8e0;
  cursor: default;
}

.tabs-stage {
  margin-left: 20px;
  padding: 25px;
  position: relative;
  top: -1px;
}

.customer-name,
.customer-span,
.customer-tab-span {
  background-color: $current-customer-highlight;
  border-radius: 5px;
  padding: 5px;
}

.header__date,
.today-overview {
  background-color: $current-day-highlight;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.selected-date-orders,
.room-order-date {
  background-color: $selected-day-highlight;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.today-overview-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  text-align: center;
}

.name-list-display {
  cursor: pointer;
  background-color: $customer-list-highlight;
  border-radius: 5px;
  padding: 5px;
  margin-top: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.name-list-display:hover {
  background-color: $current-customer-highlight;
}

.customer-tab-input {
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.customer-tab-add-customer {
  border-radius: 15px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.customer-tab-add-customer-enabled {
  border: 5px solid $current-customer-highlight;
  cursor: pointer;
}

.append-room-list {
  overflow-y: scroll;
}

.room-list-div {
  display: flex;
  justify-content: space-between;
  border: 5px solid $selected-day-highlight;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 335px;
}

.book-button:hover {
  background-color: $newly-booked-highlight;
}

.newly-booked-display {
  margin-left: -40px;
}

.newly-booked-display-span {
  background-color: $newly-booked-highlight2;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.newly-booked-list {
  display: block;
}

.live-search-selected {
  background-color: $current-customer-highlight;
  font-weight: 900;
  font-size: 25px;
}

.room-service-history-title {
  margin-top: 40px;
}

.new-orders-list {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.newly-food-orders {
  overflow-y: scroll;
}

.food-menu-p {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  border: 5px solid $current-customer-highlight;
  border-radius: 10px;
}

.order-food-button {
  cursor: pointer;
  margin-left: 5px;
  border-radius: 10px;
}

.order-food-button:hover {
  background-color: $newly-booked-highlight;
}

.newly-food-orders-display {
  background-color: $newly-booked-highlight;
  border-radius: 5px;
  padding: 5px;
}

.customer-rooms-history-list-span {
  background-color: $newly-booked-highlight;
  border-radius: 5px;
  padding: 5px;
}

.main-tab-span {
  font-weight: 300;
}

.main-tab-numbers {
  background-color: $main-tab-span-highlight;
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
}

.orders-date-search-button,
.orders-date-search-button-new {
  background-color: $newly-booked-highlight;
  border-radius: 10px;
  cursor: pointer;
}

.room-service-error-span {
  background-color: $red-alert-error;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}
