* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.tabs {
  padding-right: 40px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs-navigation li {
  list-style-type: none;
  width: 50%;
}

a,
a:visited {
  border: 1px solid black;
  color: inherit;
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: pink;
}

.tab-active a {
  background: yellowgreen;
  color: red;
  cursor: default;
}

.tabs-stage {
  padding: 25px;
  position: relative;
  top: -1px;
}
